# Exercise - 05/05/2002

Consider the dataset below that contains **heights** (in inches/inches) and **weights** (in pounds/lbs) of fake people. <br/>
https://www.kaggle.com/mustafaali96/weight-height

Perform the following tasks:
- Split the dataset into 80% for training and 20% for testing
- Compute the correlation between the training set variables
- Train a regression model considering **height** as the independent variable and **weight** as the dependent one
   + Compute the model determination coefficient
   + Plot a scatterplot of the two variables containing the regression model (line)
- Predict the test set
   + Plot a scatterplot of the two variables containing the regression model (line)
   + Compute error metrics for regression

***

In [12]:
#importing used modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
#loading the dataset
df = pd.read_csv('datasets/weight-height.csv')

In [3]:
#showing basic info about the dataset
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [4]:
df.shape

(10000, 3)

In [5]:
df['Gender'].drop_duplicates()

0         Male
5000    Female
Name: Gender, dtype: object

The dataset has 10000 lines and three columns, divided in two genders only. We can also make two copies of the set for each gender so we can see the differences easily.

In [6]:
df_males = df.groupby(df.Gender).get_group('Male')

In [7]:
#Now this dataset only has the data of males
df_males['Gender'].drop_duplicates()

0    Male
Name: Gender, dtype: object

In [8]:
df_males = df_males.drop('Gender', axis=1, inplace=False)

In [9]:
df_males.shape

(5000, 2)

In [10]:
#repeating the steps for females
df_females = df.groupby(df.Gender).get_group('Female')
df_females = df_females.drop('Gender', axis=1, inplace=False)
df_females.shape

(5000, 2)

We now have the datasets to work with. Let's start with the larger one.

In [14]:
X = df[['Height']] #independent variable
y = df[['Weight']] #dependent variable

In [16]:
#splitting the set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 1215)

In [31]:
#shape of the test data
print(f'X_train size: {X_train.shape[0]}\nX_test size: {X_test.shape[0]}\ny_train size: {y_train.shape[0]}\ny_test size: {y_test.shape[0]}')

X_train size: 8000
X_test size: 2000
y_train size: 8000
y_test size: 2000